.globalS{
    border-color : var(--globalSearch) !important;
}

.normalText{
    color : var(--normal_text_col) !important;
}

.normalText1{
    color : var(--normal_text_col_1) !important;
}

.normalText a{
    color : var(--normal_text_col) !important;
}
.card {
    margin : 20px !important;
}

.card-body{
    color : var(--normal_text_col) !important;
}

.mainBg{
    background : var(--main_background) !important;
}

.acoBg{
    background: var(--aco_background);
}

.faqBg{
    background: var(--faq_background);
}

.kt-datatable__table {
    background: var(--table_background) !important;
}

td span{
    color : var(--normal_text_col) !important;
}

.descriptBg{
    background: var(--faq_background);
    padding : 20px;
}

.descriptBd{
    border : 0px solid var(--descriptBd);
    border-bottom-width: 2px;
}

.downBg{
    background : var(--downBg);
    color : grey !important;
}


.kt-datatable__body tr:nth-child(odd) {
    background-color: var(--table_odd) !important;
}
.kt-datatable__body tr:nth-child(even) {
    background-color: var(--table_even) !important;
}

.kt-checkbox span{
    background : var(--checkbox_background) !important;
}

#invoiceTable thead {
    margin-bottom: 30px;
}

/*for hr*/
/*for table*/
.kt-datatable > .kt-datatable__table > .kt-datatable__head .kt-datatable__row{
    /*color : red;*/
    border-bottom-color: var(--custom_green);
    border-bottom-width: 7px;

}

th span{
    color : var(--custom_green) !important;
    font-weight: bolder;
}

.tableHeadHr{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 3px;
    color : green;
}

.viewSample{
    color : var(--custom_green) !important;
    text-decoration: underline;
}
.la-star{
    color : var(--star_color) !important;
}


.flaticon2-sort{
    color : var(--normal_text_col) !important;
}

/*for header*/
.kt-header {
    background-color: var(--header_background) !important;
}
.kt-header-menu .kt-menu__nav > .kt-menu__item:hover:not(.kt-menu__item--here):not(.kt-menu__item--active) > .kt-menu__link,
.kt-header-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--hover:not(.kt-menu__item--here):not(.kt-menu__item--active) > .kt-menu__link {
    background-color: var(--header_background) !important;
}
.kt-header-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link .kt-menu__link-text,
.kt-header-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link .kt-menu__ver-arrow,
.kt-header-menu .kt-menu__nav > .kt-menu__item:hover > .kt-menu__link .kt-menu__link-text,
.kt-header-menu .kt-menu__nav > .kt-menu__item:hover > .kt-menu__link .kt-menu__ver-arrow,
.kt-header-menu-wrapper-close > i {
    color: var(--custom_green) !important;
}
.kt-header-menu .kt-menu__subnav > .kt-menu__item > .kt-menu__link .kt-menu__link-text {
    color: var(--normal_text_col_1  ) !important;
}
.kt-header-menu .kt-menu__subnav > .kt-menu__item > .kt-menu__link .kt-menu__link-text:hover {
    color: var(--custom_green) !important;
}
.kt-header-menu-wrapper-close:hover {
    background-color: var(--header_menu_close);
}

.kt-header-mobile .kt-header-mobile__toolbar .kt-header-mobile__toolbar-toggler:hover span,
.kt-header-mobile .kt-header-mobile__toolbar .kt-header-mobile__toolbar-toggler:hover span::before,
.kt-header-mobile .kt-header-mobile__toolbar .kt-header-mobile__toolbar-toggler:hover span::after,
.kt-header-mobile .kt-header-mobile__toolbar .kt-header-mobile__toolbar-toggler.kt-header-mobile__toolbar-toggler--active span,
.kt-header-mobile .kt-header-mobile__toolbar .kt-header-mobile__toolbar-toggler.kt-header-mobile__toolbar-toggler--active span::before,
.kt-header-mobile .kt-header-mobile__toolbar .kt-header-mobile__toolbar-toggler.kt-header-mobile__toolbar-toggler--active span::after {
    background-color: var(--custom_green) !important;
}
.kt-header-mobile .kt-header-mobile__toolbar .kt-header-mobile__toolbar-topbar-toggler.kt-header-mobile__toolbar-topbar-toggler--active i,
.kt-header-mobile .kt-header-mobile__toolbar .kt-header-mobile__toolbar-topbar-toggler:hover i {
    color: var(--custom_green) !important;
}

.theme_panel{
    border-color: var(--theme_panel) !important;
    background-color: var(--theme_panel) !important;
}

.theme_switcher{
    background-color: var(--theme_switcher) !important;
    border-color: #888888;
}

/*for button*/
.btn.btn-cart{
    color: var(--custom_green);
}

.btn.btn-login>a,
.btn.btn-login>a:active,
.btn.btn-login>a:focus,
.btn.btn-login>a:hover{
    color: var(--custom_green);
}
.btn.btn-signup{
    color: var(--button_sign_up);
    background-color: var(--custom_green);
    font-size: 14pt;
    font-family: var(--first_font_family);
    padding: 5px 20px;
}

/*for select input*/

.bootstrap-select.show > .dropdown-toggle.btn-light, .bootstrap-select.show > .dropdown-toggle.btn-secondary,.bootstrap-select > .dropdown-toggle.btn-light:focus, .bootstrap-select > .dropdown-toggle.btn-light.active, .bootstrap-select > .dropdown-toggle.btn-secondary:focus, .bootstrap-select > .dropdown-toggle.btn-secondary.active {

    border-color : var(--custom_green) !important;
}


.form-control:focus, .form-control:active{
    border-color : var(--custom_green) !important;
}

.btn.btn-save{
    color: var(--button_sign_up);
    background-color: var(--custom_green);
    font-size: 14pt;
    font-family: var(--first_font_family);
    padding: 10px 40px;
    border:none;
}

.btn.btn-globalSearch{
    display:inline-flex;
    z-index:0;
    color: var(--button_sign_up);
    background-color: var(--custom_green);
    font-size: 14pt;
    font-family: var(--first_font_family);
    padding-left: 4px;
    padding-right: 2px;

    padding-top: 0px;
    padding-bottom: 0px;
    margin : 0px;
}

.btn.btn-add-cart{
    color: var(--custom_white);
    background-color: var(--custom_green);
    font-size: 14pt;
    font-family: var(--first_font_family);
    /*padding: 5px 20px;*/
}

.btn.btn-checkout{
    color: var(--custom_white);
    background-color: var(--custom_green);
    font-size: 12pt;
    font-family: var(--first_font_family);
    padding: 5px 20px;
}

.btn.btn-login>a:hover, .btn.btn-login>a:focus{
    color : var(--normal_text_col_1);
    text-decoration: underline;
}

.kt-header-menu .kt-menu__nav > .kt-menu__item:hover:not(.kt-menu__item--here):not(.kt-menu__item--active) > .kt-menu__link .kt-menu__link-text, .kt-header-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--hover:not(.kt-menu__item--here):not(.kt-menu__item--active) > .kt-menu__link .kt-menu__link-text{
    color : var(--normal_text_col_1) !important;
}

div.user-account.dropdown-menu>a.dropdown-item{
    color : var(--normal_text_col_1);
}
div.user-account.dropdown-menu>a.dropdown-item:active,
div.user-account.dropdown-menu>a.dropdown-item:focus,
div.user-account.dropdown-menu>a.dropdown-item:hover{
    color: var(--custom_green);
    background-color: var(--custom_white) !important;
}

.cartBg{
    background: var(--custom_midDark);
    border : var(--custom_gray_2) 1px solid;

}
.kt-mycart .kt-mycart__head .kt-mycart__info .kt-mycart__title,
.kt-mycart .kt-mycart__body .kt-mycart__section .kt-mycart__subtitle{
    color: var(--custom_green);
}
.kt-mycart .kt-mycart__body .kt-mycart__section .kt-mycart__price{
    color: var(--normal_text_col);
}
.kt-mycart .kt-mycart__body .kt-mycart__section .update-cart{
    color: var(--normal_text_col);
}


/*for footer*/
.kt-footer .kt-footer__top {
    background-color: var(--footer_top_background) !important;
}
.kt-footer .kt-footer__top a{
    color: var(--custom_green) !important;
}

.kt-footer .kt-footer__top a:hover {
    color: var(--custom_green) !important;
}

.kt-footer .kt-footer__bottom {
    background-color: var(--footer_bottom_background) !important;
}

.kt-footer .kt-footer__bottom a{
    color: var(--normal_text_col) !important;
}
.kt-footer .kt-footer__bottom a:hover {
    color: var(--footer_bottom_link) !important;
    cursor: pointer;
}
.kt-footer .kt-footer__bottom span{
    color: var(--normal_text_col) !important;
}

.kt-mycart__item .alert .alert-secondary {
    background: var(--alert_sec) !important;
}

.form-control:focus, .form-control:active {
    border-color: var(--form_control_active_border) !important;
    background: var(--form_control_active_background) !important;
    color : var(--form_control_active_color) !important;
}

.form-control {
    border-color: var(--form_control_border) !important;
    background: var(--form_control_background) !important;
    color : var(--form_control_color) !important;
    /*border-color : var(--custom_dark);*/
}


.flaticon2-sort{
    color : var(--sort_col) !important;
}

.selectpicker{
    background: var(--selectpicker);
    border: none;
}

.kt-datatable.kt-datatable--default > .kt-datatable__table > .kt-datatable__body .kt-datatable__row.kt-datatable__row--active > .kt-datatable__cell{
    background: var(--custom_green) !important;
}

.kt-checkbox > span:after {
    border: solid #353c0e;
}


.bootstrap-select > .dropdown-toggle.btn-light, .bootstrap-select > .dropdown-toggle.btn-secondary{
    background: var(--select_background);
    color: var(--select_color) !important;
    border-color: var(--select_border-color) !important;;
}

.close:hover{
    color : var(--close);
}


#checkOutCart .kt-mycart__body .kt-mycart__section .kt-mycart__item {
    background: none;
    border-style: solid;
    border-width: 1px;
    color : var(--check_out_border);
}

.cartHr{
    border-color : var(--cartHr) !important;
}

.body{
    color : var(--error_body) !important;
}

.card{
    border :none;
}